*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cover-bg {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
   margin-bottom: 20px;
}
.prof-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.mb-30 {
   margin-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.mt-35 {
   margin:top: 35px;
}

.mt-30 {
  margin-top: 30px;
}

.py-15 {
   padding-top: 15px;
   padding-bottom: 15px;
}

.section_padding {
    padding: 100px 0;
} 

h1, h2, h3, h4 {
  font-family: 'lato', sans-serif;
  color: #151515;
  font-weight: 700;
}
p {
     line-height: 1.6;
     color: #777;     
}

span, a {
  display: inline-block;
}

/*** Section Title css ***/
.section_title {
   position: relative;
   margin-bottom: 70px;
   width: 100%;
}

.section_title p {
   background-color: #9932CC;
   color: #fff;
   display: inline-block;
   margin-bottom: 5px;
   text-align: center;
   text-transform: uppercase;
   padding: 0 12px;
   letter-spacing: 1px;
}

.section_title h3 {
    position: relative;
    font-size: 36px;
    text-transform: capitalize;
    line-height: 1.14;
    letter-spacing: 1.4px;
    padding-bottom: 13px;
}

.section_title h3:after {
     content: '';
     position: absolute;
     display: block;
     height: 30px;
     width: 2px;
     bottom: -30px;
     left: 50%;
     background-color: #9932CC;
     transform: translate(-50%, 0);
}

a.btn.mr-2 {
  background-color: #9932CC;
  border: 2px solid #9932CC;
  padding: 15px 20px;
  box-shadow: inset 0 0 0 0 #fff;
  letter-spacing: 1px;
  border-radius: 10%;
  color: #fff;
  font-size: 14px;
}
a.btn.mr-2:hover {
    box-shadow: inset 12em 0 0 0 #fff;
    color: #151515;
    transition: 0.2s all;
}  
html {
  scroll-behavior: smooth;
}

/*** navbar css ***/

.custom_logo {
  background: #9932CC;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding 0 15px;
  letter-spacing: 1px;
  line-height: 2;
  transform: skewX(30deg);
}

.custom_logo span {
    transform: skewX(-30deg);
}

.navbar-dark .navbar-nav .nav-link{
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 14px;
   transition: 0.5s all;
}
.navbar .collapse .navbar-nav .nav-item .nav-link {
  color: #151515;
}

.navbar .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #9932CC
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #9932CC;
}

.navbar {
   padding: 15px 0;
   background: #fff;
}

.navbar .navbar-toggler span {
  color: #151515;
}
.navbar .navbar-toggler span:hover {
   color: #9932CC;
}

.navbar .navbar-toggler {
    border: none;
}
.navbar .navbar-toggler:focus,
.navbar .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}
    

.banner {
   background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(bg1.jpeg);
   background-attachment: fixed;
   height: 100vh;
   width: 100%;
}

.banner .caption h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.banner .caption h2 {
    color: #fff;
    font-size: 70px;
    letter-spacing: -1px;
}

.banner .caption p {
    font-size: 17px;
    color: #fff;
    line-height: 32px;
    opacity: 0.7;
}

.banner .caption .social_icon a {
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: green;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-size: 16px;
    transition: 0.5s all;
}

.banner .caption .social_icon a:hover {
    color: #1957f3;
}

.banner .datetime {
    color: #fff;
    background: transparent;
    font-family: "Sagoe UI", sans-serif;
    width: 340px;
    padding: 15px 10px;
    border: 3px solid #9932CC;
    border-radius: 5px;
    .webkit-box-reflect: below 1px linear.gradient(transparent, rgba(255, 255, 255, 0.1));
    transition:0.5s;
    transition-property: background, box-shadow;
}
.banner .datetime:hover {
    background: #9932CC;
    bax-shadow: 0 0 30px #9932CC;
}
.banner .date {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
} 
.banner .time {
   font-size: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
} 

.banner .time span:not(:last-child) {
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.banner .time span:last-child {
   background: #2E94E3;
   font-size: 30px;
   font-weight: 600;
   text-transform: uppercase;
   margin-top: 10px;
   padding: 0 5px;
   border-radius: 3px;
}

.about .part_text h4 {
    font-size: 24px;
}

.about .part_text p {
    border-bottom: 1px solid #f1f1f1;
}

.about .part_text .info li{
    width: 48%;
    display: inline-block;
    margin-bottom: 15px; 
}

/*** more section css ***/

.more {
   background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(bg1.jpeg);
   background-attachment: fixed;
}    

.more h2 {
 color: #fff;
 font-size: 52px;
 font-weight: 800;
}
.more h4 {
   margin-top: 30px;
   color: #fff;
   font-size: 30px;
   font-weight: 400;
}  
.more p {
   color: #fff;
}
.more .qt {
   font-size: 45px;
   font-weight: 400;
}

.project .project_box {
      box-border: 1px solid #fafafa;
      transition: all 0.5s;
      padding: 10px;
}

.project .project_box:hover {
      box-shadow: -1px 3px 10px 0 rgba(0,0,0,0.2);
}

.project .box {
   position: relative;
   padding: 0;
}

.project .project_box .icon i {
   color: #9932CC;
   font-size: 38px;
}

.project .box_title {
   position: relative;
   margin-top: 10px;
   padding-bottom: 8px
   font-size: 16px;
   overflow: hidden;
}

.project .box_title:before {
  content: '';
  display: inline-block;
  width: 15%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(91, 52, 255, 0.2);
}

.project .project_box:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-top: 50px solid transparent;
  border-bottom: 50px solid #f7f7f7;
  position: absolute;
  bottom: 4px;
  right: 4px;  
  background-color: rgba(91, 52, 255, 0.2);
}
.project .prof-img {
   padding: 0;
   float: left;
}

/*** Contact Section Css ***/

.contact {
   background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(contact.jpg);
   background-attachment: fixed;
}

.contact .section_title h3 {
     color: #fff;
}

.contact .part-info {
   background: linear-gradient(to right, transparent, rgba(200, 200, 200, 0.1), transparent);
   padding: 30px;
   margin-bottom: 50px;
} 

.contact .info-block {
     border-right: 1px solid #fff;
}
.contact .part-info .info-block .icon {
    margin-bottom: 15px;
}

.contact .part-info .info-block .icon i {
    display: inline-block;
    color: #fff;
    font-size: 38px;
}

.contact .part-info .info-block h5 {
   color: #fff;
   font-size: 16px;
   margin-bottom: 10px;
}

.contact .part-info .info-block p {
   color: #fff;
   opacity: 0.8;
}

.contact .part-info .col-md-6:last-child .info-block {
     border-right: 0;
}

.footer {
  background: #212121;
  padding: 80px 0;
  overflow: hidden;
}

.footer .logo {
  width: 100%;
  margin-bottom: 30px;
}
.footer .logo .custom_logo {
  background: #9932CC;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding 0 15px;
  letter-spacing: 1px;
  line-height: 2;
  transform: skewX(30deg);
}

.footer .logo .custom_logo span {
    transform: skewX(-30deg);
}

.footer .social_icon {
  margin: 0 auto;
  width: 100%;
}

.footer .social_icon a {
   display: inline-block;
   width: 40px;
   height: 40px;
   line-height: 40px;
   border-radius: 50%;
   margin-right: 10px;
   background-color: #252525;
   transition: 0.5s all;
}

.footer .social_icon a i {
     color: #fff;
     font-size: 14px;
}

.footer .social_icon a:hover {
  background: #9932CC;
} 
    
.footer .copy {
   width: 100%;
   padding-top: 30px;
}
.footer .copy h6 {
   color: #999;
   font-size: 14px;
   font-weight: 400;
   letter-spacing: 2px;
}        

@media only screen and (max-width: 991px){
    .navbar .container {
       max-width: 100%;
     }
   .navbar .navbar-toggler {
      font-size: 50px;
   }
     .navbar .custom_logo{
        margin-left: 30px;
        padding: 0 10px;
        font-size: 40px;
      }
   
      .navbar .navbar-collapse {
           overflow: hidden;
           background: #fff;
           color: #151515;
           text-align: center;
           padding: 10px 0;
           margin: 10px 0;
       }
   .navbar-dark .navbar-nav .nav-link{
    font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 40px;
   transition: 0.5s all;
}
}

@media (min-width: 700px)and (max-width: 991px) {
    
   .prof-img {
      width: 500px;
      height: 500px;
   }
   .banner {
    height: 110vh;  
   }
   .banner .datetime {
    color: #fff;
    background: transparent;
    font-family: "Sagoe UI", sans-serif;
    width: 650px;
    padding: 100px 10px;
    border: 0px solid #9932CC;
    border-radius: 10px; 
    .webkit-box-reflect: below 1px linear.gradient(transparent, rgba(255, 255, 255, 0.1));
    transition:0.5s;
    transition-property: background, box-shadow;
}
.banner .datetime:hover {
    background: #9932CC;
    bax-shadow: 0 0 30px #9932CC;
}
.banner .date {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
} 
.banner .time {
   font-size: 75px;
   display: flex;
   justify-content: center;
   align-items: center;
} 

.banner .time span:not(:last-child) {
    position: relative;
    margin: 0 8px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
}

.banner .time span:last-child {
   background: #2E94E3;
   font-size: 30px;
   font-weight: 600;
   text-transform: uppercase;
   margin-top: 10px;
   padding: 0 5px;
   border-radius: 3px;
}

    .banner .caption h4 {
         font-size: 44px;
    }
    
    .banner .caption h2 {
         font-size: 80px;
    }
   .banner .caption p{
      font-size: 45px;
      padding-top: 0 0;
      line-height: 1.2;
   }
    
    .banner .caption p br {
        display: none;
    }
   .banner .caption .social_icon a {
    color: #fff;
    width: 120px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    background-color: green;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-size: 62px;
    transition: 0.5s all;
}
   .about .row p {
      font-size: 50px 
   }
   .about h3{
      font-size: 70px
   }
   
   .about .part_text h4 {
    font-size: 48px;
     
}
   /*.about .part_photo {
       
   }*/

.about .part_text p {
    border-bottom: 1px solid #f1f1f1;
    font-size: 34px
}
   .about .info{
      font-size: 40px
     
   }
   a.btn.mr-2 {
    background-color: #9932CC;
    border: 1px solid #9932CC;
    padding: 0px 80px;
    box-shadow: inset 0 0 0 0 #fff;
    letter-spacing: 1px;
    border-radius: 10%;
    color: #fff;
    font-size: 40px;
}

.about .part_text .info li{
    width: 48%;
    display: inline-block;
    margin-bottom: 0px;
}

    
    .more h2 {
      font-size: 60px;
    }
   .more h4 {
      display: inline flow-root list-item;
      font-size: 50px
      
   }
   .more p {
      font-size: 45px;
   }
     
    .about .part_text .info li{
         width: 100%;
     }
     .part_text {
        padding-bottom: 100x;
      }
     .about .part_text {
         padding-top: 20px;
      }   
  .project .prof-img {
   padding: 0;
   float: left;
   width: 700px
}
   .project .section_title p{
      font-size: 46px
   }
   .project .section_title h3{
      font-size: 65px;
   }
   .project .project_box {
      box-border: 1px solid #fafafa;
      transition: all 0.5s;
      padding: 10px;
}

.project .project_box:hover {
      box-shadow: -1px 3px 10px 0 rgba(0,0,0,0.2);
}

.project .box {
   position: center;
   padding: 50px;
}

.project .project_box .icon i {
   color: #9932CC;
   font-size: 155px;
}

.project .box_title {
   font-size: 56px;
   overflow: hidden;
   position: relative;
   margin-top: 10px;
   padding-bottom: 8px
}

.project .box_title:before {
  content: '';
  display: inline-block;
  width: 15%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(91, 52, 255, 0.2);
}

.project .project_box:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-top: 50px solid transparent;
  border-bottom: 50px solid #f7f7f7;
  position: absolute;
  bottom: 4px;
  right: 4px;  
  background-color: rgba(91, 52, 255, 0.2);
}
   .project .text {
      font-size: 47px;
   }
   .project .high{
      font-size: 45px
   }
   .contact .section_title {
      font-size: 45px
   }
   .contact .section_title .h3{
      font-size: 54px
   }
   .contact .col-md-12 .info-block .icon{
      font-size: 45px;      
   }
   .contact .col-md-12 .info-block h5 {
      font-size: 35px
   }
   .contact .col-md-12 .info-block .p {
     font-size:  45px; 
   }
   .contact .col-md-6 .info-block p{
      font-size: 30px
   }
   .footer {
  background: #212121;
  padding: 80px 0;
  overflow: hidden;
}

.footer .logo {
  width: 100%;
  margin-bottom: 30px;
}
.footer .logo .custom_logo {
  background: #9932CC;
  color: #fff;
  font-size: 58px;
  text-align: center;
  text-transform: uppercase;
  padding 0 15px;
  letter-spacing: 1px;
  line-height: 2;
  transform: skewX(30deg);
}

.footer .logo .custom_logo span {
    transform: skewX(-30deg);
}

.footer .social_icon {
  margin: 0 auto;
  width: 100%;
}

.footer .social_icon a {
   display: inline-block;
   width: 140px;
   height: 40px;
   line-height: 40px;
   border-radius: 50%;
   margin-right: 10px;
   background-color: #252525;
   transition: 0.5s all;
}

.footer .social_icon a i {
     color: #fff;
    font-size: 58px;
     
}

.footer .social_icon a:hover {
  background: #9932CC;
} 
    
.footer .copy {
   width: 100%;
   padding-top: 30px;
}
.footer .copy h6 {
   color: #999;
   font-size: 44px;
   font-weight: 400;
   letter-spacing: 1px;
}
}
@media (max-width: 368px) and (max-width: 700px)
{
   .banner .caption h4 {
         font-size: 16px;
    }
    
    .banner .caption h2 {
         font-size: 35px;
    }
    
    .banner .caption p br {
        display: none;
    }
    
    .more h2 {
      font-size: 40px;
    }
     
    .about .part_text .info li{
         width: 100%;
     }
     .part_text {
        padding-bottom: 0px;
      }
     .about .part_text {
         padding-top: 0px;
      } 
}